html {
    scroll-behavior: smooth;
    margin: auto;
    padding: 10px;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-align-last: left;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 62px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 4px 4px 10px red;
    text-align: center;
}

h3.project {
    margin: 0% 0% 7% 0%;
}

table.skill {
    width: max-content;
    height: max-content;
    margin: 1% auto 6% auto;
    border-spacing: 20px;
    border-collapse: separate;
}

th.skill {
    width: 16pc;
    height: 15pc;
    border: solid #ff4a5644;
    background-color: #23263A;
    opacity: 50%;
    border-width: 1px;
    margin: 20pc;
    margin: 5% auto 0% auto;
}

p.dev {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 20px;
    margin: 11%;
    font-weight: bold;
}

p.project {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0% 0% 7% 0%;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    padding: 0px 20px 0px 20px;
    float: initial;
    text-align: center;
}

th.skill:hover {
    background-color: #FF4A57;
    opacity: 100%;
}

th.skill #show:hover {
    /* background-color: #FF4A57; */
    opacity: 100%;
}

table.icon {
    background-color: #FF4A57;
}

p.contant {
    color: white;
    margin-top: 20px;
    font-size: 20px;
    text-align-last: left;
    float: initial;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 10px;
}

p.about {
    color: white;
    margin-top: 10px;
    font-size: 18px;
    text-align-last: left;
    float: initial;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
}

body {
    background-color: #1F2235;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.anand {
    height: 450px;
    background-color: #24263B;
    padding: 0px 0px 0px 0px;
}

li.nav {
    display: inline;
    margin-right: 5%;
    background-color: #24263B;
}

li.icon {
    display: inline;
    margin-right: 5%;
    background-color: #24263B;
}

ul.nav {
    height: 20px;
    color: #ffffff;
}

.main {
    margin: -150px 200px -850px 449px;
    height: 100vh;
    margin-top: -15%;
    border-color: #171a3d;
    margin-left: 455px;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 110px;
    height: 35px;
    border: solid #FF4A57;
    border-width: 1.6px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #131c43;
    cursor: context-menu;
    border-radius: 30px 30px;
    position: relative;
    margin: 10% 0% 0% 4%;
    transition: all .5s;
}

.btn:hover {
    border-radius: 30px 30px;
    background-color: #FF4A57;
    box-shadow: inset;
}

.logo {
    filter: brightness(#FF4A57);
}

.logo:hover {
    filter: brightness(#FF4A57);
    /* filter: sepia(#FF4A57); */
}

.icon {
    height: 40px;
    width: 40px;
    border: solid #FF4A57;
    border-width: 2px;
    background-color: #1F2235;
    cursor: context-menu;
    border-radius: 50px;
    position: relative;
    padding-top: 5px;
    margin: auto;
    transition: all .5s;
}

.icon:hover {
    background-color: #FF4A57;
}

.btn:before {
    content: " ";
    position: absolute;
    top: 0%;
    left: 0%;
    border-style: solid;
    background: linear-gradient(#FF4A57, #FF4A57);
    width: 100%;
    border-radius: 30px 30px;
    height: 100%;
    filter: blur( 20px);
    transform: scale( 1, 1) translateY(0px);
    z-index: -1;
    opacity: 0;
    transition: all .6s;
}

.btn:hover:before {
    opacity: 1;
}

.link {
    width: max-content;
    height: max-content;
    border: none;
    font-size: x-large;
    cursor: context-menu;
    border-radius: 10px 10px;
    position: relative;
    transition: all .5s;
    text-decoration: none;
    float: right;
    margin-right: 5%;
    text-align: center;
    padding: 0px 7px 0px 13px;
}

.link:hover {
    border-radius: 30px 30px;
    text-shadow: 1px 1px 5px red;
}

.link:before {
    content: " ";
    position: absolute;
    top: 0%;
    border-color: #FF4A57;
    left: 0%;
    border-style: solid;
    background: linear-gradient(#FF4A57, #FF4A57);
    width: 100%;
    border-radius: 30px 30px;
    text-align: center;
    height: 100%;
    filter: blur( 15px);
    transform: scale( 1, 1) translateY(1px);
    z-index: -1;
    opacity: 0;
    transition: all .6s;
}

.link:hover:before {
    opacity: 1;
}

.photo {
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}